<?xml version="1.0"?>
<assembly>
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <dependencySets>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <includes>
                <include>org.codelibs:elasticsearch-solr-api</include>
                <include>org.apache.solr:solr-core</include>
                <include>org.apache.solr:solr-solrj</include>
                <include>org.noggit:noggit</include>
                <include>org.slf4j:slf4j-api</include>
                <include>commons-io:commons-io</include>
                <include>commons-codec:commons-codec</include>
                <include>org.codehaus.woodstox:wstx-asl</include>
            </includes>
        </dependencySet>
    </dependencySets>
</assembly>
